@import url(./assets/css/fonts.css);

/*
=============== 
Variables
===============
*/

:root {
  /* colors */
  --clr-primary-1: hsl(238, 79%, 68%);
  --clr-primary-2: hsl(243, 19%, 19%);
  --clr-primary-3: hsl(210, 14%, 42%);
  --clr-primary-4: hsl(220, 8%, 92%);
  --clr-primary-5: hsl(0, 0%, 100%);
  --clr-primary-6: hsl(214, 47%, 97%);
  --clr-primary-7: hsl(4, 81%, 65%);
  --clr-primary-8: hsl(40, 90%, 51%);
  --clr-primary-9: hsl(101, 59%, 55%);
  --clr-primary-10: rgba(40, 39, 57, 1);
  /* social */
  --telegram: #039BE5;
  --watsapp: #4CAF50;
  --viber: rgba(142, 36, 170, 1);
  /* variables */
  --transition: all 0.3s linear;
  --spacing: 0.1rem;
  --radius: 0.25rem;
  --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  --max-width: 1170px;
}

/*
=============== 
Global Styles
===============
*/

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Jost', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background: var(--clr-white);
  color: var(--clr-grey-1);
  line-height: 1.5;
  font-size: 0.875rem;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  border: 0;
}

.container {
  width: 100%;
  max-width: var(--max-width);
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  overflow: hidden;
}